---
layout: default
---
<style>
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .image-column {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
  }
  .text-column {
    flex: 2;
    min-width: 200px;
    margin: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
</style>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <!--h3 class="fw-bold">Research</h3-->
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/arjun_at_atomium.jpg" alt="Home" width="100%">
  </div>
</div>

<!--
{% include publications.html %}
-->

